# Iris Datasets and Its prediction
# Using Random Forest Classifier

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_iris
df = load_iris()

In [6]:
dir(df)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [14]:
# converting numpy array into pandas dataframe
dataframe = pd.DataFrame(df.data,columns=df.feature_names)

In [16]:
dataframe

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [25]:
dataframe['target']=df.target
dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [30]:
y = dataframe['target']
X= dataframe.drop(['target'],axis=1)

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15)

In [34]:
model = RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [35]:
model.score(X_test,y_test)

0.8695652173913043

In [40]:
model_n = RandomForestClassifier(n_estimators=40)
model_n.fit(X_train,y_train)

RandomForestClassifier(n_estimators=40)

In [41]:
model_n.score(X_test,y_test)

0.8695652173913043